.App {
  text-align: center;
}

.navigation{
  padding-top: 15px;
}

.navigation a{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:active{
  color:  rgb(45 212 191);
}

.bookform{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking{
  display: flex; 
  flex-direction: column;
  max-width: 200px; 
  gap: 20px
  
}